{
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-organize-imports"]
}